prepa_exam/

architecture.md
data_dictionnary.md
graphic_chart.md
planification.md
specifications.md

```

README.md

```
# Dans le back-end
somniumvault-back/.phpunit.cache
somniumvault-back/node_modules
somniumvault-back/public/build
somniumvault-back/public/hot
somniumvault-back/public/storage
somniumvault-back/storage/*.key
somniumvault-back/storage/pail
somniumvault-back/vendor
somniumvault-back/.env
somniumvault-back/.env.backup
somniumvault-back/.env.production
somniumvault-back/.phpactor.json
somniumvault-back/.phpunit.result.cache
somniumvault-back/Homestead.json
somniumvault-back/Homestead.yaml
somniumvault-back/npm-debug.log
somniumvault-back/yarn-error.log
somniumvault-back/auth.json
somniumvault-back/.fleet
somniumvault-back/.idea
somniumvault-back/.nova
somniumvault-back/.vscode
somniumvault-back/.zed

```	
# Dans le front
somniumvault-front/.pnp
somniumvault-front/.pnp.js
somniumvault-front/node_modules
somniumvault-front/coverage
somniumvault-front/build
somniumvault-front/.DS_Store
somniumvault-front/.env.local
somniumvault-front/.env.development.local
somniumvault-front/.env.test.local
somniumvault-front/.env.production.local
somniumvault-front/npm-debug.log*
somniumvault-front/yarn-debug.log*
somniumvault-front/yarn-error.log*

```